#!/usr/bin/make -f
# -*- makefile -*-

# Copyright 2018 Viacheslav Chimishuk <vchimishuk@yandex.ru>
#
# This file is part of carbon-pool.
#
# carbon-pool is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# carbon-pool is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with carbon-pool. If not, see <http://www.gnu.org/licenses/>.

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	install -g 0 -o 0 -d debian/carbon-pool
	cp -r etc debian/carbon-pool
	mkdir -p debian/carbon-pool/usr
	cp -r bin debian/carbon-pool/usr
	mkdir -p debian/carbon-pool/usr/share/carbon-pool
	cp -r carbonpool debian/carbon-pool/usr/share/carbon-pool
	cp -r carbon-pool.py debian/carbon-pool/usr/share/carbon-pool
	mkdir -p debian/carbon-pool/lib
	cp -r systemd debian/carbon-pool/lib
	mkdir -p debian/carbon-pool/var/lib/carbon-pool

override_dh_fixperms:
	dh_fixperms
	chown daemon:daemon debian/carbon-pool/var/lib/carbon-pool
